* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
}

.content-container {
  position: absolute;
  top: 15%;
  left: 2%;
}

.header {
  font-size: 18px;
  font-weight: 500;
}

footer {
  position: absolute;
  left: 45%;
  top: 96%;
}

footer h1 {
  font-size: 14px;
  font-weight: 400;
  color: #414141;
}
