* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

button {
  font-family: "Noto Sans TC", sans-serif;
}
